
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');


*{
	margin:0;
	padding: 0;
}

body{
	font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;

  background: #000;
}

p{
	font-size: 1.2rem;
	line-height: 1.3em;
}

.presentation{
	width: 100%;
	min-height: 80vh;
	aspect-ratio: 16/9;
	background: #000;
	position: relative;
}

.presentation-background{
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(.3);
}

.presentation-content{

	position: absolute;
	top :50%;
	left:50%;
	transform: translate(-50%,-50%);
	text-align:center;

}

h1{
	color: #FFF;
	size: 5rem;
	font-weight: 400;
}

.presentation-content p{
	color: #FFF;
	size: 3rem;
	font-weight: 200;
}

.section{
	padding: 50px 0;
	background: #DDD;
}

.boxed{
	max-width: 1280px;
	margin-inline: auto;
	padding: 0 10px;
}

h2{
	position: relative;
	left: 15%;
	color: #333;
	size: 4rem;
}

.boxed p{
	color: #000;
	size: 1rem;
	padding: 0 25%;
	text-align: justify;
}

.parcours{
	display: flex;
	max-width: 100%;
	padding-top: 50px;
}
h3{
	position: relative;
	left:50%;
	transform: translate(-50%,-50%);
	text-align: center;
	font-size: 1.4rem;
}
.detailedparcour{

	width: 50%;
	flex-grow: 1;
}

.detailedparcour p{
	padding: 2% 10%;
}

.divider {
  width: 2px;
  margin: 6px 0;
  background: #666;
  align-self: stretch;
}

.hsub{
	font-size: 1.4rem;
	font-weight: 400;
	color: #333;
	position: relative;
	left:5%;
	margin-bottom: 15px;
	text-align: right;
}

.projets{
background: #AAA;
}

.projets-bar{
	display: flex;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

.projets-tabs{
	width: 100%;
	margin-left: 1px;
	margin-right: 1px;
}

.projets-view{
	padding-top: 20px;
	display: block;
}

.projets-exemples-group{
	display: flex;

}

.projets-exemples p{
	padding-inline: 5%;

}

.projets-exemples-background{
	align-self: center;
	position: relative;
	margin: 10px;
	padding-inline: 10%;
	max-width: 80%;
	aspect-ratio: 16/9;
	object-fit: cover;
	filter: brightness(.8);
}


.links{
	display: flex;
	margin-inline: auto;
	
}

.link-group{
	width: 150px;
	height: 150px;
	margin-inline: auto;
	object-fit: scale-down;
}

.link-group p{
	text-align: center;
}

.link-group img{
	width: 100px;
	height: 100px;
	object-fit: fill;
	object-position: 0% 0%;
	position: relative;
	aspect-ratio: 1;
}

.contact-item{
	margin-inline: 20%;
	display: flex;
}

.contact-item img{
	width: 50px;
	height: 50px;
}

.contact-item p{
	text-align: left;
	padding: 0;
}