
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');


*{
	margin:0;
	padding: 0;
	scroll-behavior: smooth;
}

body{
	font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  color: #FFBD69;
  background: #000;
}

p{
	/*font-size: 1.2rem;
	line-height: 1.3em;*/
}

a{
	transition: all 0.3s ease 0s;
	color: #FFBD69;
}
a:hover{
	color: #0088a9;
}

.lightArea{
	background: #543864;
}

.darkArea{
	background: #202040;
}

.sep-darktolight{
	background: #543864;
	background: linear-gradient(0deg,rgba(84, 56, 100, 1) 0%, rgba(32, 32, 64, 1) 100%);
	padding: 0px 5%;
	height: 50px;
}

.sep-lighttodark{
	background: #FFBD69;
	background: linear-gradient(180deg,rgba(84, 56, 100, 1) 0%, rgba(32, 32, 64, 1) 100%);
	padding: 0px 5%;
	height: 50px;
}

.section{

}

.menubar{
	position: sticky;
	top : 0vh;
	z-index: 99;
	/*min-height: 10vh;*/
	background: linear-gradient(0deg,rgba(84, 56, 100, 1) 0%, rgba(32, 32, 64, 1) 100%);
	display: flex;
	justify-content: space-between;
	padding: 5px 5%;
	align-items: center;
}
.menu-items{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width: 600px){
	.menu-items a{
		display: none;
	}
	p{
		font-size: 5vw;
	}
	/*.project-filters{
		display: none;
	}*/
}
@media screen and (min-width: 601px){
	.respnsive-menu-buton div{
		display: none;
	}
	p{
		font-size: 1vw;
	}
	/*.project-filters{
		display: block;
	}*/
}

.menu-items a{
	padding-inline: 8px;
}

.logo{
	image-resolution: 1;
	width: 75px;
}

.back-button{
	padding: 9px 25px;
	background-color: #FFBD69;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	flex: 1;
}

.back-button:hover{
	background-color: #0088a9;
}

.respnsive-menu-buton{
	display: inline-block;
  cursor: pointer;
}

.respnsive-menu-items{
	background: #202040;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	max-height: 0vh;
	border-radius: 2ch;
  position: absolute;
  right: 5vw;
  top: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: nowrap;
  overflow: hidden;
  justify-content: space-around;
}
.hidemenu .respnsive-menu-items{
	max-height: 15vh;  
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #FFBD69;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/*.title{
	width: 100%;
	min-height: 90vh;
	aspect-ratio: 16/9;
	background: #000;
	position: relative;
}*/
.title{
	height: 87vh;
	background: #000;
	position: relative;
	display: flex;
}
.title-background{
	width: 100vw;
	filter: brightness(.3) blur(4px);
  
}

.title-content{

	position: absolute;
	top :50%;
	left:50%;
	transform: translate(-50%,-50%);
	text-align:center;

}

h1{
	color: #FFF;
	size: 5rem;
	font-weight: 400;
}

.title-content p{
	color: #FFF;
	size: 3rem;
	font-weight: 200;
}

.sectionTitle{
	text-align: center;
}

.links{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.link-group{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	padding: 2ch;
}

.link-group p{
	text-align: center;
}

.link-group img{
	object-fit: contain;
	max-block-size: 10ch;
	aspect-ratio: 1;
}

.contact-item{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.contact-item img{
	max-width: 50px;
}

.contact-item p{
	margin-inline: 2ch;
}

/* V2 */

.competences{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.competence-item{
	max-height: 10ch;
	background-color: darkred;
	border-radius: 3ch;
	min-height: 30ch;
	padding: 2ch;
	margin: 2.5ch;
	box-shadow: 2px 2px 4px #000;

}

.centerOnWide {
	margin-inline: auto;
	padding-inline: 2em;
	padding-top: 4vh;
	max-width: 70em;
}
.centerOnWide90 {
	margin-inline: auto;
	padding-inline: 1em;
	max-width: 90vw;
}

.presentation p{
	text-align: center;
}

.projets{

}

.projets p{
	text-align: center;
}

.carousel{
	border: solid 5px #77889961;
  border-radius: 1vh;
  border-inline-color: transparent;
  padding: 10px 0
}

.carousel-list{
	transform: rotateX(180deg);
	overflow: auto;
	scroll-snap-type: x mandatory;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.rotate-back{
	transform: rotateX(180deg);
}
.carousel-button
{
	margin: 5px 5px;
	border-radius: 25px 25px;
	opacity: 80%;
}

.carousel-button img{
	aspect-ratio: 1;
	min-width: 40vw;
	max-height: 25vh;
	object-fit: cover;
}

.carousel-button :hover{
	opacity: 40%;
}

.project-view{
	display: auto;
	opacity: 100%;
	transition: smooth;
	padding: 1vh 1vh;	
	
}

.project-img {
display: flex;
justify-content: center;
}

.project-img img{
max-width: 90vw;
}

.custom-list{
/*line-height: 3vh;*/
text-indent: 1vw;
list-style-position: inside;
list-style-type: disclosure-open;
}
.custom-list li{
	padding-block: 2vh;
}
/* V3 --------------*/

.project-filters{

}

.project-filters button{
	border-radius: 1ch;
    min-height: 4ch;
    padding: 1ch;
    margin-inline: 1ch;
    /*
    background-color: transparent;
    border: ridge;
    color: #AAF;
    border-color: #aaaaff64;
    float: right;
		color: #FFA;
  	border-color: #ffffaa64;
    */
}
.project-filters button:hover{
	background-color: #55A;
}

.theme-filters{
display: flex;
flex-wrap: wrap;
}
.language-filters{
display: flex;
flex-wrap: wrap;
}

.active-filter{
	align-items: flex-end;
	color: #FFA;
  border-color: #ffffaa64;
  background-color: #ffffaa32;
  order: -1;
}
.inactive-filter{
	align-items: flex-start;
	color: #AAF;
  border-color: #aaaaff64;
  background-color: transparent;
}

.projects-board{
	padding-block: 5ch;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  align-items: center;
/*display: grid;
grid-template: auto / auto auto auto;
grid-column-gap: 20px;
justify-content: center;
align-items: center;*/
}

.project-preview{
	position: relative;
  aspect-ratio: 1 / 1;
  max-height: 32vh;
	width: auto;
	margin: 2ch;
	padding: 1ch;
  background-color: #000;
	border-radius: 3ch;

}

.project-preview :hover{
	transform: scale(1.2);
	z-index: 10;
	transition: .2s;
}
.project-preview img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 2ch;
	
}

.project-label{
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.65); /* Black see-through */
  color: #f1f1f1;
  width: 80%;
  transition: .2s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.project-preview:hover .project-label {
  opacity: 1;
  z-index: 11;
}